$colorSite: rgb(12, 53, 75);
$colorWhite: rgb(255, 255, 255);
$colorBlack: rgb(1, 27, 40);
$colorViolet: rgb(127, 42, 255);
$colorGreen: rgb(88, 231, 0);
$borderRadius: 30px;
$colorGreenBt: rgba(89, 231, 0, 0.807);