@import 'vars';
@import 'mixins';

.skill {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(1, 650px);
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.blok-right {
    margin-left: 804px;
    margin-top: 864px;
    font-size: 140px;

    &__violet {
        height: 1656px;
        margin-left: 1565px;
        margin-top: 97px;
    }
}

.span__1250 {
    display: none;
}

.work {
    display: flex;
    gap: 20px;
    flex-direction: column;

    &__btn {
        background-color: $colorSite;
        padding: 20px;
        border-radius: 27px;
        border: none;
        /*     color: #ffffff; */
        text-transform: uppercase;
        font-weight: 700;


    }

    &__btn:hover {
        background-color: $colorViolet;
    }

    &__btn:active {
        background-color: aqua;
    }
}

.btn1 {
    background-color: $colorGreen;
}

.swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}


.portfolio {
    display: grid;
    grid-template-columns: 300px 1500px;
    /* justify-content: center; */
    margin-top: 100px;
    margin-bottom: 15px;
    margin-left: 67px;
    gap: 20px;

    &__blocks {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 25px;
    }

    &__img {
        display: grid;
        grid-template-columns: repeat(1, 600px);
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &__figma {

        border-radius: 27px;
        padding: 7px 25px;
        transition: all 0.3s ease;
        box-shadow: 0 0 10px #ffffff;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        background-color: $colorGreen;
        border: none;
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: 30px;

        &__text {
            color: $colorSite;
            cursor: pointer;
        }
    }

    &__1 {
        display: block;
    }

    &__2 {
        display: none;
    }

    &__3 {
        display: none;
    }

    &__4 {
        display: none;
    }

    &__5 {
        display: block;
    }

    &__6 {
        display: block;
    }

    &__7 {
        display: block;
    }

    &__8 {
        display: block;
    }

    &__9 {
        display: block;
    }

    &__10 {
        display: none;
    }

    &__11 {
        display: none;
    }

    &__12 {
        display: none;
    }


}

div.arrowup {
    position: relative;
}

div.arrowup img {
    position: absolute;
    right: 71px;
    bottom: 8px;
    width: 77px;
}

div.arrowup img:hover {
    transform: translateY(-25px);
}

.carousel-control-prev-icon {
    background-image: url(img_portfolio/Love_is/стрелкавлево.svg);
}

.carousel-control-next-icon {
    background-image: url(img_portfolio/Love_is/стрелкавправо.svg);
}

.carousel-indicators {
    bottom: -35px;
}


@media (max-width: 1600px) {
    .portfolio {
        grid-template-columns: 290px 1200px;

        &__img {
            grid-template-columns: repeat(1, 480px);
        }
    }

    .skill {
        grid-template-columns: repeat(1, 500px);
    }

    /* .blok-right {
        margin-left: -147px;
    } */
}

@media (max-width: 1400px) {
    .portfolio {
        grid-template-columns: 250px 1000px;

        &__img {
            grid-template-columns: repeat(1, 350px);
        }
          &__figma{
            font-size: 16px;
            margin-left: 15px;
            padding: 10px 15px;
            margin-bottom: 10px;
        }
    }

    .skill {
        grid-template-columns: repeat(1, 380px);
        font-size: 16px;
    }

    div.arrowup {
        height: 374px;
    }

    .work__btn {
        font-size: 14px;
        padding: 7px;
    }

    .blok-right {
        margin-left: -176px;
        margin-top: 1320px;
        font-size: 120px;
    }

    .blok-right__violet {
        height: 2687px;
    }
}

@media (max-width: 1250px) {

    .portfolio {
        grid-template-columns: 180px 950px;

        &__img {
            grid-template-columns: repeat(1, 320px);
        }

          &__figma{
            font-size: 15px;
            margin-left: 15px;
            padding: 10px 15px;
            margin-bottom: 10px;
        }
    }

    .skill {
        grid-template-columns: repeat(1, 350px);
        font-size: 13px;
    }

    .work__btn {
        font-size: 11px;
        padding: 6px;
    }

    div.arrowup {
        height: 59px;
    }

    div.arrowup img {
        width: 46px;
    }

    .blok-right {
        margin-left: -2276px;
        margin-top: 3079px;
        font-size: 108px;

        &__violet {
            height: 6210px;
        }

        .span__1250 {
            display: inline;
        }
    }
}

@media (max-width: 840px) {
    .portfolio {
        grid-template-columns: 120px 700px;
        gap: 0px;
        margin-top: 70px;
        margin-left: 33px;

        &__img {
            grid-template-columns: repeat(1, 240px);
        }

        &__figma {
            font-size: 12px;
            margin-left: 15px;
            padding: 10px 15px;
            margin-bottom: 10px;
        }

        &__blocks {
            gap: 0px;
        }
    }

    .skill {
        grid-template-columns: repeat(1, 250px);
        font-size: 12px;
        padding: 11px;
    }

    .work {
        gap: 10px;

        &__btn {
            font-size: 8px;
            padding-left: 15px;
            padding-right: 15px;

        }
    }
}

@media (max-width: 800px) {
    .head {
        padding-left: 15px;
        padding-right: 15px;
    }

    .portfolio {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px;
        margin-left: 15px;

        &__img {
            grid-template-columns: repeat(1, 290px);
        }

        &__figma {
            font-size: 12px;
            margin-left: 15px;
            padding: 10px 15px;
            margin-bottom: 10px;
        }

        &__blocks {
            gap: 0px;
        }
    }

    .skill {
        grid-template-columns: repeat(1, 300px);
        font-size: 12px;
        padding: 11px 0px 11px 0px;
        margin-left: 0px;
    }

    .work {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;


        &__btn {
            font-size: 8px;
            padding-left: 10px;
            padding-right: 10px;
            width: 150px;
        }
    }

    div.arrowup {
        height: 75px;
    }

    div.arrowup img {
        right: 6px;
        bottom: 3px;
    }
}