@charset "UTF-8";
.skill {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(1, 650px);
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.blok-right {
  margin-left: 804px;
  margin-top: 864px;
  font-size: 140px;
}
.blok-right__violet {
  height: 1656px;
  margin-left: 1565px;
  margin-top: 97px;
}

.span__1250 {
  display: none;
}

.work {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.work__btn {
  background-color: rgb(12, 53, 75);
  padding: 20px;
  border-radius: 27px;
  border: none;
  /*     color: #ffffff; */
  text-transform: uppercase;
  font-weight: 700;
}
.work__btn:hover {
  background-color: rgb(127, 42, 255);
}
.work__btn:active {
  background-color: aqua;
}

.btn1 {
  background-color: rgb(88, 231, 0);
}

.swing-in-top-fwd {
  animation: swing-in-top-fwd 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
.portfolio {
  display: grid;
  grid-template-columns: 300px 1500px;
  /* justify-content: center; */
  margin-top: 100px;
  margin-bottom: 15px;
  margin-left: 67px;
  gap: 20px;
}
.portfolio__blocks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 25px;
}
.portfolio__img {
  display: grid;
  grid-template-columns: repeat(1, 600px);
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.portfolio__figma {
  border-radius: 27px;
  padding: 7px 25px;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px #ffffff;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  background-color: rgb(88, 231, 0);
  border: none;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 30px;
}
.portfolio__figma__text {
  color: rgb(12, 53, 75);
  cursor: pointer;
}
.portfolio__1 {
  display: block;
}
.portfolio__2 {
  display: none;
}
.portfolio__3 {
  display: none;
}
.portfolio__4 {
  display: none;
}
.portfolio__5 {
  display: block;
}
.portfolio__6 {
  display: block;
}
.portfolio__7 {
  display: block;
}
.portfolio__8 {
  display: block;
}
.portfolio__9 {
  display: block;
}
.portfolio__10 {
  display: none;
}
.portfolio__11 {
  display: none;
}
.portfolio__12 {
  display: none;
}

div.arrowup {
  position: relative;
}

div.arrowup img {
  position: absolute;
  right: 71px;
  bottom: 8px;
  width: 77px;
}

div.arrowup img:hover {
  transform: translateY(-25px);
}

.carousel-control-prev-icon {
  background-image: url(img_portfolio/Love_is/стрелкавлево.svg);
}

.carousel-control-next-icon {
  background-image: url(img_portfolio/Love_is/стрелкавправо.svg);
}

.carousel-indicators {
  bottom: -35px;
}

@media (max-width: 1600px) {
  .portfolio {
    grid-template-columns: 290px 1200px;
  }
  .portfolio__img {
    grid-template-columns: repeat(1, 480px);
  }
  .skill {
    grid-template-columns: repeat(1, 500px);
  }
  /* .blok-right {
      margin-left: -147px;
  } */
}
@media (max-width: 1400px) {
  .portfolio {
    grid-template-columns: 250px 1000px;
  }
  .portfolio__img {
    grid-template-columns: repeat(1, 350px);
  }
  .skill {
    grid-template-columns: repeat(1, 380px);
    font-size: 16px;
  }
  div.arrowup {
    height: 374px;
  }
  .work__btn {
    font-size: 14px;
    padding: 7px;
  }
  .blok-right {
    margin-left: -176px;
    margin-top: 1320px;
    font-size: 120px;
  }
  .blok-right__violet {
    height: 2687px;
  }
}
@media (max-width: 1250px) {
  .portfolio {
    grid-template-columns: 180px 950px;
  }
  .portfolio__img {
    grid-template-columns: repeat(1, 320px);
  }
  .skill {
    grid-template-columns: repeat(1, 350px);
    font-size: 13px;
  }
  .work__btn {
    font-size: 11px;
    padding: 6px;
  }
  div.arrowup {
    height: 59px;
  }
  div.arrowup img {
    width: 46px;
  }
  .blok-right {
    margin-left: -2276px;
    margin-top: 3079px;
    font-size: 108px;
  }
  .blok-right__violet {
    height: 6210px;
  }
  .blok-right .span__1250 {
    display: inline;
  }
}
@media (max-width: 840px) {
  .portfolio {
    grid-template-columns: 120px 700px;
    gap: 0px;
    margin-top: 70px;
    margin-left: 33px;
  }
  .portfolio__img {
    grid-template-columns: repeat(1, 240px);
  }
  .portfolio__blocks {
    gap: 0px;
  }
  .skill {
    grid-template-columns: repeat(1, 250px);
    font-size: 12px;
    padding: 11px;
  }
  .work {
    gap: 10px;
  }
  .work__btn {
    font-size: 8px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 800px) {
  .portfolio {
    grid-template-columns: 150px 650px;
    gap: 22px;
    margin-top: 0px;
    margin-left: 30px;
  }
  .portfolio__img {
    grid-template-columns: repeat(1, 480px);
  }
  .portfolio__blocks {
    gap: 0px;
  }
  .skill {
    grid-template-columns: repeat(1, 500px);
    font-size: 16px;
    padding: 11px;
    margin-left: 0px;
  }
  .work {
    gap: 10px;
  }
  .work__btn {
    font-size: 8px;
    padding-left: 15px;
    padding-right: 15px;
  }
  div.arrowup {
    height: 75px;
  }
  div.arrowup img {
    right: 6px;
    bottom: 3px;
  }
}/*# sourceMappingURL=portfolio.css.map */