@charset "UTF-8";
.skill {
  margin-top: 30px;
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(1, 500px);
  margin-left: 20px;
  margin-right: 20px;
}

.blok-right {
  margin-left: 46px;
  margin-top: 1482px;
  font-size: 135px;
}
.blok-right__violet {
  height: 3027px;
}

.span__1250 {
  display: none;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(2, 700px);
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.portfolio__img {
  display: grid;
  grid-template-columns: repeat(1, 500px);
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.portfolio__figma {
  border-radius: 27px;
  padding: 7px 25px;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px #ffffff;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  background-color: rgb(88, 231, 0);
  border: none;
  margin-left: 115px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.portfolio__figma__text {
  color: rgb(12, 53, 75);
  cursor: pointer;
}

div.arrowup {
  position: relative;
  height: 442px;
}

div.arrowup img {
  position: absolute;
  right: 71px;
  bottom: 8px;
  width: 77px;
}

div.arrowup img:hover {
  transform: translateY(-25px);
}

.carousel-control-prev-icon {
  background-image: url(img_portfolio/Love_is/стрелкавлево.svg);
}

.carousel-control-next-icon {
  background-image: url(img_portfolio/Love_is/стрелкавправо.svg);
}

.carousel-indicators {
  bottom: -35px;
}

@media (max-width: 1600px) {
  .portfolio {
    grid-template-columns: repeat(2, 628px);
  }
  .blok-right {
    margin-left: -147px;
  }
}
@media (max-width: 1400px) {
  .portfolio {
    grid-template-columns: repeat(2, 524px);
  }
  .portfolio__img {
    grid-template-columns: repeat(1, 435px);
  }
  .portfolio__figma {
    font-size: 19px;
    margin-left: 54px;
  }
  .skill {
    font-size: 16px;
  }
  div.arrowup {
    height: 374px;
  }
  .blok-right {
    margin-left: -176px;
    margin-top: 1320px;
    font-size: 120px;
  }
  .blok-right__violet {
    height: 2687px;
  }
}
@media (max-width: 1250px) {
  .portfolio {
    grid-template-columns: repeat(1, 780px);
  }
  .portfolio__img {
    grid-template-columns: repeat(1, 630px);
  }
  .skill {
    font-size: 18px;
    margin-left: 32px;
    margin-top: 18px;
  }
  div.arrowup {
    height: 59px;
  }
  div.arrowup img {
    width: 46px;
  }
  .blok-right {
    margin-left: -2276px;
    margin-top: 3079px;
    font-size: 108px;
  }
  .blok-right__violet {
    height: 6210px;
  }
  .blok-right .span__1250 {
    display: inline;
  }
}
@media (max-width: 840px) {
  .portfolio {
    grid-template-columns: repeat(1, 662px);
  }
  .portfolio__img {
    grid-template-columns: repeat(1, 570px);
  }
  .blok-right__violet {
    height: 5709px;
    margin-left: 699px;
  }
  .blok-right {
    margin-left: -2114px;
    margin-top: 2823px;
    font-size: 99px;
  }
}
@media (max-width: 800px) {
  .portfolio {
    grid-template-columns: repeat(1, 387px);
    margin-top: 0px;
  }
  .portfolio__img {
    grid-template-columns: repeat(1, 364px);
  }
  .portfolio__figma {
    font-size: 14px;
    margin-left: 38px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .skill {
    font-size: 12px;
    margin-left: 0;
  }
  div.arrowup {
    height: 75px;
  }
  div.arrowup img {
    right: 6px;
    bottom: 3px;
  }
}/*# sourceMappingURL=portfolio.css.map */