@import 'vars';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
}

.blok-right {
  &__about {
    font-family: "Benzin-Bold";
    font-size: 136px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    text-transform: uppercase;
    transform: rotate(90deg);
    position: absolute;
    margin-left: 312px;
    margin-top: 1289px;
    z-index: -1;
  }

  &__violet {

    width: 11px;
    height: 2541px;
    background-color: $colorViolet;
    position: absolute;
    margin-left: 1500px;
    margin-top: 86px;
    z-index: -1;
    text-align: left;


  }
}

.margin70 {
  margin-left: 70px;
}

.user {
  display: flex;
  flex-direction: row;
  gap: 64px;
  flex-wrap: nowrap;
  position: relative;
  margin-left: 70px;

  &__imgblock {
    width: 100%;
  }

  &__my {
    position: relative;
    max-width: 100%;
    height: auto;
    margin-left: 106px;
    margin-top: 85px;
    width: 450px;
  }

  &__img2 {
    width: 100%;

  }

  &__img2:hover {
    transform: scale(1.5);
    transition: all 0.5s ease;
    box-shadow: 0 0 20px #ffffff;
  }

  &__text {
    background-image: url(img_about_me/Rectangle1.svg);
    width: 506px;
    height: 282px;
    margin-left: 143px;
    margin-top: 160px;
    margin-bottom: 40px;
    color: $colorWhite;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Roboto", sans-serif;
    padding-top: 54px;
    padding-left: 76px;
  }


  &__fron {
    display: grid;
    grid-template-columns: (370px 350px 720px);
    gap: 20px;
    justify-content: start;
    margin-bottom: 20px;

    &__right {
      display: grid;
      grid-template-columns: (320px 320px);
      gap: 30px;
      font-size: 16px;
      font-weight: 400;
      line-height: 145%;
      text-align: left;
      color: $colorWhite;
      background-color: $colorViolet;
      border-radius: 25px;
      padding: 25px;
      border: 2px solid rgb(88, 231, 0);
    }

    &__left {
      font-size: 16px;
      font-weight: 400;
      line-height: 145%;
      text-align: left;
      color: $colorWhite;
      background-color: $colorViolet;
      border-radius: 25px;
      padding: 25px;
      border: 2px solid rgb(88, 231, 0);
    }

    &__center {
      color: rgb(12, 53, 75);
      font-size: 18px;
      font-weight: 400;
      line-height: 145%;
      letter-spacing: 0%;
      text-transform: uppercase;
      background-color: $colorGreen;
      border-radius: 25px;
      padding: 25px;
      border: 2px solid rgb(32, 16, 28);

    }
  }
}

.span {
  &__size {
    font-size: 20px;
  }

}

.skill {
  width: 83%;
}

.padding {
  padding-left: 35px;
}

.skill__site__training {
  display: grid;
  grid-template-columns: repeat(1, 1000px);
  gap: 35px;
  /*  justify-content: center; */
  margin-left: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.certificate {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;

  &__img {
    width: 100%;

  }

  &__img:hover {
    transform: scale(1.5);
    transition: all 0.5s ease;
    /*     border: 2px solid rgb(20, 244, 27); */
    box-shadow: 0 0 20px #ffffff;
  }
}

@media (max-width: 1600px) {

  .center930 {
    padding-left: calc(50% - 760px);
    padding-right: calc(50% - 760px);
  }

  .user {
    &__text {
      margin-left: 50px;
    }

    &__fron {
      grid-template-columns: 300px 300px 620px;
      margin-bottom: 40px;

      &__right {
        grid-template-columns: 270px 270px;
      }

      &__center {
        font-size: 16px;
      }
    }
  }


  .skill {
    width: 83%;

    &__site__training {
      margin-left: 150px;
    }
  }

  .blok-right__violet {

    margin-left: 1268px;
    height: 2502px;
  }

  .blok-right__about {
    margin-left: 94px;
    font-size: 134px;
    margin-top: 1272px;
    background-color: #f83cff;
  }
}






@media (max-width: 1400px) {
  .user {
    gap: 0px;

    &__my {
      width: 400px;
    }

    &__fron {
      grid-template-columns: 270px 270px 550px;
      gap: 7px;

      &__left {
        padding-bottom: 15px;
        font-size: 14px;
      }

      &__right {
        grid-template-columns: 235px 235px;
        font-size: 14px;
        padding-bottom: 15px;
      }

      &__center {
        font-size: 15px;
        padding-bottom: 15px;
      }
    }
  }

  .skill {
    width: 84%;

    &__site__training {
      margin-left: 60px;
    }
  }

  .blok-right__violet {
    margin-left: 1118px;
    height: 2393px;
  }

  .blok-right__about {
    margin-left: 1px;
    font-size: 128px;
    margin-top: 1217px;
    background-color: #ff3c3c;
  }
}

@media (max-width: 1250px) {
  .user__text {
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 125px;
  }

  .user__my {
    width: 365px;
    margin-left: 60px;
    margin-top: 67px;
  }

  .margin70 {
    margin-left: 40px;
  }

  .user__fron {
    grid-template-columns: 250px 250px 480px;
    gap: 7px;
    margin-bottom: 15px;
  }

  .user__fron__right {
    grid-template-columns: 200px 200px;
    font-size: 12px;

  }

  .user__fron__center {
    font-size: 12px;
  }

  .user__fron__left {
    font-size: 12px;
  }

  .skill__site__training {
    display: grid;
    grid-template-columns: repeat(1, 900px)
  }

  .certificate {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 20px;
  }

  .blok-right__violet {
    margin-left: 970px;
    height: 2066px;
    margin-top: 68px;
   
  }

      .blok-right__about {
        margin-left: 11px;
        font-size: 110px;
        margin-top: 1042px;
      background-color: #ffffff;
    }
}