@import 'vars';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
}

.gridCenter {
  display: grid;
  grid-template-columns: (1550px 11px 100px);
  gap: 10px;
  align-items: start;
}

.blok-right {
  &__r {
    width: 11px;
    height: 2541px;
    background-color: $colorViolet;
    margin-top: 86px;
  }

  &__a {
    font-family: "Benzin-Bold";
    font-size: 136px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    text-transform: uppercase;
    transform: rotate(90deg);
    margin-top: 65px;
  }
}

.margin70 {
  margin-left: 70px;
}

.user {
  display: flex;
  flex-direction: row;
  gap: 64px;
  flex-wrap: nowrap;
  position: relative;
  margin-left: 70px;

  &__imgblock {
    width: 100%;
  }

  &__my {
    position: relative;
    max-width: 100%;
    height: auto;
    margin-left: 106px;
    margin-top: 85px;
    width: 450px;
  }

  &__img2 {
    width: 100%;

  }

  &__img2:hover {
    transform: scale(1.5);
    transition: all 0.5s ease;
    box-shadow: 0 0 20px #ffffff;
  }

  &__text {
    background-image: url(img_about_me/Rectangle1.svg);
    width: 506px;
    height: 282px;
    margin-left: 143px;
    margin-top: 160px;
    margin-bottom: 40px;
    color: $colorWhite;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    font-family: "Roboto", sans-serif;
    padding-top: 54px;
    padding-left: 76px;
  }


  &__fron {
    display: grid;
    grid-template-columns: (370px 350px 720px);
    gap: 20px;
    justify-content: start;
    margin-bottom: 20px;

    &__right {
      display: grid;
      grid-template-columns: (320px 320px);
      gap: 30px;
      font-size: 16px;
      font-weight: 400;
      line-height: 145%;
      text-align: left;
      color: $colorWhite;
      background-color: $colorViolet;
      border-radius: 25px;
      padding: 25px;
      border: 2px solid rgb(88, 231, 0);
    }

    &__left {
      font-size: 16px;
      font-weight: 400;
      line-height: 145%;
      text-align: left;
      color: $colorWhite;
      background-color: $colorViolet;
      border-radius: 25px;
      padding: 25px;
      border: 2px solid rgb(88, 231, 0);
    }

    &__center {
      color: rgb(12, 53, 75);
      font-size: 18px;
      font-weight: 400;
      line-height: 145%;
      letter-spacing: 0%;
      text-transform: uppercase;
      background-color: $colorGreen;
      border-radius: 25px;
      padding: 25px;
      border: 2px solid rgb(32, 16, 28);
    }

    &__bottom {
      display: grid;
      justify-items: center;
      grid-column: span 3;
      background-color: #ff3c3c;
      font-size: 18px;
      font-weight: 400;
      line-height: 145%;
      text-align: center;
      background-color: $colorViolet;
      border-radius: 25px;
      padding: 15px;
      color: $colorWhite;
      font-family: 'Benzin-Bold';
      margin-top: 15px;
    }

    &__skill1 {
      grid-column: span 3;
      font-size: 17px;
      font-weight: 400;
      line-height: 145%;
      background-color: $colorSite;
      border-radius: 25px;
      padding: 15px;
      border: 2px solid $colorGreen;
      color: $colorWhite;
      margin-top: 15px;
      width: 1000px;
      place-self: center;
      padding-left: 30px;
    }
  }
}

.span {
  &__size {
    font-size: 20px;
  }

}

.padding {
  padding-left: 35px;
}



.certificate {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;

  &__img {
    width: 100%;

  }

  &__img:hover {
    transform: scale(1.5);
    transition: all 0.5s ease;
    /*     border: 2px solid rgb(20, 244, 27); */
    box-shadow: 0 0 20px #ffffff;
  }
}

@media (max-width: 1600px) {

  .center930 {
    padding-left: calc(50% - 760px);
    padding-right: calc(50% - 760px);
  }

  .gridCenter {
    display: grid;
           grid-template-columns: (1330px 11px 100px);
        gap: 10px;
    align-items: start;
  }

  .user {
    &__text {
      margin-left: 50px;
    }

    &__fron {
      grid-template-columns: 300px 300px 620px;
      margin-bottom: 40px;

      &__right {
        grid-template-columns: 270px 270px;
      }

      &__center {
        font-size: 16px;
      }
    }
  }

}



@media (max-width: 1400px) {
  .gridCenter {
      grid-template-columns: (1136px 11px 100px);
        gap: 4px;
    align-items: start;
  }

  .blok-right {
    &__a {
      font-size: 122px;
      margin-top: 72px;
    }

    &__r {
      height: 2278px;
    }
  }

  .user {
    gap: 0px;

    &__my {
      width: 389px;
      margin-left: 47px;
    }

    &__fron {
      grid-template-columns: 260px 260px 530px;
      gap: 7px;

      &__left {
        padding-bottom: 15px;
        font-size: 14px;
        padding: 20px 20px 10px 20px;
      }

      &__center {
        font-size: 14px;
        padding-bottom: 15px;
        padding: 20px 20px 10px 5px;
      }

      &__right {
        grid-template-columns: 225px 225px;
        font-size: 13px;
        padding: 20px 20px 10px 20px;
      }
    }
  }


}



@media (max-width: 1250px) {
   .gridCenter {
          
        grid-template-columns: (1043px 11px 100px);
        gap: 0px;
    
    align-items: start;
  }

  .blok-right {
    &__a {
          font-size: 111px;
        margin-top: 60px;
    }

    &__r {
      height: 2041px;
      margin-top: 69px;
    }
  }
  .user__text {
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 125px;
  }

  .user__my {
    width: 365px;
    margin-left: 60px;
    margin-top: 67px;
  }

  .margin70 {
    margin-left: 40px;
  }

  .user__fron {
    grid-template-columns: 250px 250px 480px;
    gap: 7px;
    margin-bottom: 15px;
  }

  .user__fron__right {
    grid-template-columns: 200px 200px;
    font-size: 12px;

  }

  .user__fron__center {
    font-size: 12px;
  }

  .user__fron__left {
    font-size: 12px;
  }

  .certificate {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 20px;
  }

}