@import 'vars';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
}

.blok-right {
  &__about {
    font-family: "Benzin-Bold";
    font-size: 132px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    text-transform: uppercase;
    transform: rotate(90deg);
    position: absolute;
    margin-left: 125px;
    margin-top: 659px;
    z-index: -1;

    &__violet {

      width: 11px;
      height: 1540px;
      background-color: $colorViolet;
      position: absolute;
      margin-left: 819px;
      margin-top: -41px;
      z-index: -1;
      text-align: left;
    }

  }
}

.user {
  &__aboutme {
    background-image: url(img_about_me/Rectangle1.svg);
    width: 506px;
    height: 282px;

    &__text {
      color: $colorWhite;
      font-size: 15px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0%;
      text-align: left;
      text-transform: uppercase;

      font-family: "Roboto", sans-serif;
      padding-top: 54px;
      padding-left: 76px;
    }
  }

  &__fron {
    background-image: url(img_about_me/Rectangle2.svg);
    width: 848px;
    height: 282px;
    margin-top: 20px;

    &__text {
      margin-left: 70px;
      font-size: 16px;
      font-weight: 400;
      line-height: 145%;
      text-align: left;
      padding-top: 37px;
      color: $colorWhite;
    }

    &__info {
      background-image: url(img_about_me/Rectangle3.svg);
      width: 854px;
      height: 314px;
      margin-top: -100px;

      &__text {
        margin-left: 300px;
        /* margin-bottom: 7px; */
        /* font-family: "Roboto", sans-serif; */
        color: rgb(12, 53, 75);
        font-size: 18px;
        font-weight: 400;
        line-height: 145%;
        letter-spacing: 0%;
        /* text-align: left; */
        text-transform: uppercase;
        padding-top: 117px;

      }

    }
  }
}

.padding {
  padding-left: 35px;
}