@import 'vars';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
}

.blok-right {
  &__about {
    font-family: "Benzin-Bold";
    font-size: 132px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    text-transform: uppercase;
    transform: rotate(90deg);
    position: absolute;
    margin-left: 125px;
    margin-top: 659px;
    z-index: -1;

    &__violet {

      width: 11px;
      height: 1540px;
      background-color: $colorViolet;
      position: absolute;
      margin-left: 819px;
      margin-top: -41px;
      z-index: -1;
      text-align: left;
    }

  }
}

.user {
  &__imgblock {
    width: 100%;
  }

  &__img2 {
    width: 100%;

  }

  &__img2:hover {
    transform: scale(1.5);
    transition: all 0.5s ease;
    box-shadow: 0 0 20px #ffffff;
  }

  &__aboutme {
    background-image: url(img_about_me/Rectangle1.svg);
    width: 506px;
    height: 282px;
    margin-left: 143px;
    margin-top: 160px;
    margin-bottom: 40px;



    &__text {
      color: $colorWhite;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0%;
      text-align: left;
      font-family: "Roboto", sans-serif;
      padding-top: 54px;
      padding-left: 76px;
    }
  }

  &__fron {
    display: grid;
    grid-template-columns: (370px 350px 720px);
    gap: 20px;
    justify-content: start;
    margin-top: 20px;
    margin-bottom: 20px;

    &__right {
      display: grid;
      grid-template-columns: (320px 320px);
      gap: 30px;
      font-size: 16px;
      font-weight: 400;
      line-height: 145%;
      text-align: left;
      color: $colorWhite;
      background-color: $colorViolet;
      border-radius: 25px;
      padding: 25px;
      border: 2px solid rgb(88, 231, 0);
    }

    &__left {
      font-size: 16px;
      font-weight: 400;
      line-height: 145%;
      text-align: left;
      color: $colorWhite;
      background-color: $colorViolet;
      border-radius: 25px;
      padding: 25px;
      border: 2px solid rgb(88, 231, 0);
    }

    &__center {
      color: rgb(12, 53, 75);
      font-size: 18px;
      font-weight: 400;
      line-height: 145%;
      letter-spacing: 0%;
      text-transform: uppercase;
      background-color: $colorGreen;
      border-radius: 25px;
      padding: 25px;
      border: 2px solid rgb(32, 16, 28);

    }
  }
}

.span {
  &__size {
    font-size: 20px;
  }

}

.padding {
  padding-left: 35px;
}

.skill__site__training {
  display: grid;
  grid-template-columns: repeat(1, 1000px);
  gap: 40px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.certificate {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
  justify-content: center;
  margin-top: 20px;

  &__img {
    width: 100%;

  }

  &__img:hover {
    transform: scale(1.5);
    transition: all 0.5s ease;
    /*     border: 2px solid rgb(20, 244, 27); */
    box-shadow: 0 0 20px #ffffff;
  }
}